<header>
    <div class="inner-header">
        <img src="assets/logo.png" alt="" class="logo" (click)="toHome()">
        <ul class="nav">
            <li class="nav-item" (click)="toHome()">01. <span>Home</span></li>
            <li class="nav-item" (click)="toAbout()">02. <span>About</span></li>
            <li class="nav-item" (click)="toProjects()">03. <span>Projects</span></li>
            <li class="nav-item" (click)="toContact()">04. <span>Contact</span></li>
            <a href="https://drive.google.com/file/d/1nZoMQfUrkN-QdgKYxsZuDAVxhWlGrlsf/view?usp=sharing" target="__blank" class="resume">Resume</a>
        </ul>
        <div class="bars" id="toggleBtn" (click)="toggle()">
            <div class="bar" id="bar1"></div>
            <div class="bar" id="bar2"></div>
            <div class="bar" id="bar3"></div>
        </div>
    </div>
</header>

<div class="sidebar" id="sidebar">
    <ul class="nav-links">
        <li class="nav-link" (click)="toHome()">01. <span>Home</span></li>
        <li class="nav-link" (click)="toAbout()">02. <span>About</span></li>
        <li class="nav-link" (click)="toProjects()">03. <span>Projects</span></li>
        <li class="nav-link" (click)="toContact()">04. <span>Contact</span></li>
        <a href="https://drive.google.com/file/d/1nZoMQfUrkN-QdgKYxsZuDAVxhWlGrlsf/view?usp=sharing" target="__blank" class="resume">Resume</a>
    </ul>
    <ul class="social-media">
        <a class="sm-link" href="https://github.com/Andjela97" target="__blank"><i class="fab fa-github"></i></a>
        <a class="sm-link" href="https://www.linkedin.com/in/andjela-jacimovic-22b7a21b7/" target="__blank"><i class="fab fa-linkedin-in"></i></a>
        <a class="sm-link" href="https://www.facebook.com/andjela.jacimovic.3/" target="__blank"><i class="fab fa-facebook"></i></a>
        <a class="sm-link" href="https://www.instagram.com/andjela_jacimovic/" target="__blank"><i class="fab fa-instagram"></i></a>
    </ul>
</div>

<div class="links">
    <a class="link" href="https://github.com/Andjela97" target="__blank"><i class="fab fa-github"></i></a>
    <a class="link" href="https://www.linkedin.com/in/andjela-jacimovic-22b7a21b7/" target="__blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="link" href="https://www.facebook.com/andjela.jacimovic.3/" target="__blank"><i class="fab fa-facebook"></i></a>
    <a class="link" href="https://www.instagram.com/andjela_jacimovic/" target="__blank"><i class="fab fa-instagram"></i></a>
</div>

<div class="email">
    <a class="mail" href="mailto:andjelajacimovic97@gmail.com">andjelajacimovic97@gmail.com</a>
</div>